@tailwind base;
@tailwind components;
@tailwind utilities;

.hideScrollbar {
  overflow-y: hidden;
  overflow-x: hidden;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: black;
  overflow-x: hidden;
  position: relative;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.footerCard {
  background-blend-mode: overlay, overlay, normal;
  box-shadow: 0px 16px 100px 0px #181818;
  backdrop-filter: blur(25px);
  border: 1px solid rgba(255, 255, 255, 0.37);
  background-blend-mode: overlay, overlay, normal;
}

/* @media (min-width: 768px) {
  body {
    background: url("../public/assets/images/HeroBackgroundImage.png"),
      url("../public/assets/images/LooperGroup.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    background-position: 100% 210px, 100% 1000px;
    background-size: 694.13px, 783.43px;
  }
}
@media (max-width: 768px) {
  body {
    background: url("../public/assets/images/HeroBackgroundImage.png"),
      url("../public/assets/images/LooperGroup.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-position: 100% 450px, 150% 1450px;
    background-size: 569px, 478.14px;
  }
} */
